video {
    height: auto;
    width: 100%;
    margin-top: 80px;
}

.title {
    color: #ffffff;
    font-size: xx-large;
    position: relative;
    top: -152px;
    padding-left: 50px;
    margin-bottom: -210px;
    z-index: 999;
}

@media screen and (max-width: 600px) {
    video {
        margin-top: 132px;
    }
}

@media screen and (max-width: 750px) {
    .title {
        font-size: x-large;
        top: -80px;
        padding-left: 30px;
    }
}

/* @media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
} */

/* [theme.breakpoints.down("lg")]: {
    backgroundImage: "linear-gradient(rgba(0,0,0, 0), rgba(0,0,0,1) 13%)"
},
[theme.breakpoints.down(920)]: {
    backgroundImage: "linear-gradient(rgba(0,0,0, 0) 2%, rgba(0,0,0,1) 11%)"
},
[theme.breakpoints.down(740)]: {
    backgroundImage: "linear-gradient(rgba(0,0,0, 0) 2%, rgba(0,0,0,1) 8%)"
},
[theme.breakpoints.down(560)]: {
    backgroundImage: "linear-gradient(rgba(0,0,0, 0) 4%, rgba(0,0,0,1) 6%)"
},
[theme.breakpoints.down(380)]: {
    backgroundImage: "linear-gradient(rgba(0,0,0, 0) 2.5%, rgba(0,0,0,1) 3%)"
}, */
